<!DOCTYPE html>
<html lang="en-gb">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  {% if page.slug == "index" %}
  <title>NecroTechno</title>
  {% else %}
  <title>NecroTechno - {{ page.title }}</title>
  {% endif %}
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>

  {% include "sidebar.liquid" %}

  <div id="content">
    <div class="container">
      <div class="header">
        <p class="no-margin"><strong>writing</strong></p>
      </div>
    </div>

    <div class="container">
      <div class="content">
        {% for post in collections.posts.pages %}
        <p class="no-margin"><a href="{{ post.permalink }}">{{ post.title }}</a> - {{ post.published_date | date: "%d %B %Y" }} </p>
        {% endfor %}
      </div>
    </div>

    <div class="container">
      <div class="header">
        <p class="no-margin"><strong>links</strong></p>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <p class="no-margin"><a rel="noopener" href="https://www.eff.org/" target="_blank">EFF</a></p>
        <p class="no-margin"><a rel="noopener" href="https://www.resetera.com/" target="_blank">ResetEra</a></p>
        <p class="no-margin"><a rel="noopener" href="https://vetusware.com/" target="_blank">VETUSWARE</a></p>
      </div>
    </div>
    <div class="container">
      <div class="header">
        <p class="no-margin"><strong>latest commits</strong></p>
      </div>
    </div>
    <div class="container">
      <div class="content">
        {% for log in site.data.commits limit:5 %}
        <p class="no-margin"><a rel="noopener" target="_blank" href="https://github.com/NecroTechno/necro.tech/commit/{{ log.commit }}">{{ log.commit }}</a></p>
        <p class="no-margin">{{ log.message }}</p>
        <p>{{ log.date }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</body>

</html>
