<!DOCTYPE html>
<html lang="en-gb">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/css/skeleton.css" />
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>
  <div class="container">
    <div class="header">
      <p class="no-margin"><strong>necro.tech</strong></p>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <p class="no-margin">Labour is entitled to all it creates.</p>

    </div>
  </div>
  <div class="container">
    <div class="header">
      <p class="no-margin"><strong>me</strong></p>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <p class="no-margin"><a href="https://blog.necro.tech/">writing</a></p>
      <p class="no-margin"><a rel="me" target="_blank" href="https://ghost.cafe/@NecroTechno">social</a></p>
      <p class="no-margin"><a rel="me" target="_blank" href="https://tilde.club/~necrotechno/">~</a></p>
      <p ><a rel="me" target="_blank" href="https://glitch.com/@NecroTechno">glitch</a></p>
      <p class="no-margin"><a href="mailto:necrotechno@riseup.net">email</a></p>
      <p class="no-margin">GPG - 538F 53D1 B8C9 69BB 3B56 D131 BF09 9E07 53F0 A785</p>
    </div>
  </div>
  <div class="container">
    <div class="header">
      <p class="no-margin"><strong>links</strong></p>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <p class="no-margin"><a href="https://www.eff.org/" target="_blank">EFF</a></p>
      <p class="no-margin"><a href="https://www.resetera.com/" target="_blank">ResetEra</a></p>
      <p class="no-margin"><a href="https://vetusware.com/" target="_blank">VETUSWARE</a></p>
    </div>
  </div>
  <div class="container">
    <div class="header">
      <p class="no-margin"><strong>latest commits</strong></p>
    </div>
  </div>
  <div class="container">
    <div class="content">
      {% for log in site.data.commits limit:5 %}
        <p class="no-margin"><a target="_blank" href="https://github.com/NecroTechno/necro.tech/commit/{{ log.commit }}">{{ log.commit }}</a></p>
        <p class="no-margin">{{ log.message }}</p>
        <p>{{ log.date }}</p>
      {% endfor %}
    </div>
  </div>
</body>

</html>
