<!DOCTYPE html>
<html lang="en-gb">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>NecroTechno - {{ page.title }}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>

  {% include "sidebar.liquid" %}

  <div id="content">
    <div class="container">
      <div class="header">
        <p class="no-margin"><b><a href="{{ page.permalink }}">{{ page.title }}</a></b> - {{ page.published_date | date: "%d %B %Y" }} </p>
      </div>
    </div>
    <div class="container">
      <div class="content">
        {{ page.content }}
      </div>
    </div>
  </div>
</body>

</html>
